body {
  background-image: url("csk.jpg");
  background-repeat: no-repeat;
  background-color: rgba(255, 217, 0, 0.89);
  background-size: contain;
}

a:link,
a:visited {
  padding: 15px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  background-color: green;
}

p {
  top: 100px;
}
.image1,.image3{
  float: left;
  
  padding: 15px;
  
}
.image2{
  float: right;

  width: 40%;
  padding: 15px;
  
}

